{% extends 'base.html.twig' %}

{% block title %}Etoile{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1>Etoile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etoile.id }}</td>
            </tr>
            <tr>
                <th>IdEtoile</th>
                <td>{{ etoile.idEtoile }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etoile.nom }}</td>
            </tr>
            <tr>
                <th>CodeConstelation</th>
                <td>{{ etoile.codeConstelation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etoile_index') }}">back to list</a>

    <a href="{{ path('app_etoile_edit', {'id': etoile.id}) }}">edit</a>

    {{ include('etoile/_delete_form.html.twig') }}
    {% else %}
        <h1>Vous n'etes pas un administrateur</h1>
        <button style=" margin-bottom: 6px;"  type="button" class="btn btn-secondary">
            <a style="color:#f8f5f5;text-align: center"  href="{{ path('app_pages') }}">Accueil</a></button>

    {% endif %}
    {% else %}
        <h1>Vous n'etes pas connecte</h1>
        <button style=" margin-bottom: 6px;"  type="button" class="btn btn-secondary">
            <a style="color:#f8f5f5;text-align: center"  href="{{ path('app_pages') }}">Accueil</a></button>
    {% endif %}
{% endblock %}
