{% extends 'base.html.twig' %}

{% block title %}Edit Constelation{% endblock %}

{% block body %}
    <h1>Modifier Constelation</h1>

    {{ include('constelation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_constelation_index') }}">back to list</a>

    {{ include('constelation/_delete_form.html.twig') }}
    {% else %}
        <h1>Vous n'etes pas un administrateur</h1>
        <button style=" margin-bottom: 6px;"  type="button" class="btn btn-secondary">
            <a style="color:#f8f5f5;text-align: center"  href="{{ path('app_pages') }}">Accueil</a></button>

    {% endif %}
    {% else %}
        <h1>Vous n'etes pas connecte</h1>
        <button style=" margin-bottom: 6px;"  type="button" class="btn btn-secondary">
            <a style="color:#f8f5f5;text-align: center"  href="{{ path('app_pages') }}">Accueil</a></button>
    {% endif %}
{% endblock %}
